
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/css/skeleton.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
    <body data-modal-message="{{modalMessage}}">
    <div class="container">
      {{{body}}}
    </div>
     {{#if modalMessage}}
          <div class="modal">
            <div class="modal-content">
              <p>{{modalMessage}}</p>
            </div>
          </div>
        {{/if}}

  </body>
  <script src="/js/client.js"></script>
</html>